<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Comment ID</title>
  </head>
  <body>
    <h1>Comments : <%= comment.id %></h1>

    <p><%= comment.text %> - <b><%= comment.username %></b></p>

    <a href="/comments">Back</a>
  </body>
</html>
